<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/hoangnd/Documents/code/YoutubeChannel/DockerTutorials2021/0001.trec</key>
	<data>
	Ym9va0ADAAAAAAQQMAAAAJNQ4RoCWtBDxRMNsB4BLTFHip72KnrpPgW2tt18otPFPAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAGhvYW5nbmQACQAAAAEB
	AABEb2N1bWVudHMAAAAEAAAAAQEAAGNvZGUOAAAAAQEAAFlvdXR1YmVDaGFubmVsAAAT
	AAAAAQEAAERvY2tlclR1dG9yaWFsczIwMjEACQAAAAEBAAAwMDAxLnRyZWMAAAAcAAAA
	AQYAABAAAAAgAAAAMAAAAEQAAABQAAAAaAAAAIQAAAAIAAAABAMAACVcAAAAAAAACAAA
	AAQDAAB9uQwAAAAAAAgAAAAEAwAArrkMAAAAAAAIAAAABAMAAGpjKwAAAAAACAAAAAQD
	AACu4ysAAAAAAAgAAAAEAwAAuv82AAAAAAAIAAAABAMAAOv/NgAAAAAAHAAAAAEGAAC8
	AAAAzAAAANwAAADsAAAA/AAAAAwBAAAcAQAACAAAAAAEAABBw+5APGMz6xgAAAABAgAA
	AQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAFAAAAAAAAAAQAAAADAwAA9QEA
	AAgAAAABCQAAZmlsZTovLy8IAAAAAQEAAE1vbnRlcmV5CAAAAAQDAAAAEB1r7gAAAAgA
	AAAABAAAQcPYOcGAAAAkAAAAAQEAADdCOTYzMDc2LThGOEQtNEFGMy1BMTdBLTQ4ODY3
	Q0RGN0M1RRgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAA
	AAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQAACYAAAAAAAAAAUQAAAsAQAAAAAA
	ABAQAABgAQAAAAAAAEAQAABQAQAAAAAAAAIgAAAoAgAAAAAAAAUgAACcAQAAAAAAABAg
	AACsAQAAAAAAABEgAADcAQAAAAAAABIgAAC8AQAAAAAAABMgAADMAQAAAAAAACAgAAAI
	AgAAAAAAADAgAAA0AgAAAAAAAAHAAACAAQAAAAAAABHAAAAgAAAAAAAAABLAAACQAQAA
	AAAAABDQAAAEAAAAAAAAAA==
	</data>
	<key>/Users/hoangnd/Documents/code/YoutubeChannel/DockerTutorials2021/0002.trec</key>
	<data>
	Ym9va0ADAAAAAAQQMAAAACbyWhUjv7tAZBuws51NpC6FnEcQrv6s/ZDI0f1HM8n5PAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAGhvYW5nbmQACQAAAAEB
	AABEb2N1bWVudHMAAAAEAAAAAQEAAGNvZGUOAAAAAQEAAFlvdXR1YmVDaGFubmVsAAAT
	AAAAAQEAAERvY2tlclR1dG9yaWFsczIwMjEACQAAAAEBAAAwMDAyLnRyZWMAAAAcAAAA
	AQYAABAAAAAgAAAAMAAAAEQAAABQAAAAaAAAAIQAAAAIAAAABAMAACVcAAAAAAAACAAA
	AAQDAAB9uQwAAAAAAAgAAAAEAwAArrkMAAAAAAAIAAAABAMAAGpjKwAAAAAACAAAAAQD
	AACu4ysAAAAAAAgAAAAEAwAAuv82AAAAAAAIAAAABAMAAKI1NwAAAAAAHAAAAAEGAAC8
	AAAAzAAAANwAAADsAAAA/AAAAAwBAAAcAQAACAAAAAAEAABBw+62H+UQUhgAAAABAgAA
	AQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAFAAAAAAAAAAQAAAADAwAA9QEA
	AAgAAAABCQAAZmlsZTovLy8IAAAAAQEAAE1vbnRlcmV5CAAAAAQDAAAAEB1r7gAAAAgA
	AAAABAAAQcPYOcGAAAAkAAAAAQEAADdCOTYzMDc2LThGOEQtNEFGMy1BMTdBLTQ4ODY3
	Q0RGN0M1RRgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAA
	AAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQAACYAAAAAAAAAAUQAAAsAQAAAAAA
	ABAQAABgAQAAAAAAAEAQAABQAQAAAAAAAAIgAAAoAgAAAAAAAAUgAACcAQAAAAAAABAg
	AACsAQAAAAAAABEgAADcAQAAAAAAABIgAAC8AQAAAAAAABMgAADMAQAAAAAAACAgAAAI
	AgAAAAAAADAgAAA0AgAAAAAAAAHAAACAAQAAAAAAABHAAAAgAAAAAAAAABLAAACQAQAA
	AAAAABDQAAAEAAAAAAAAAA==
	</data>
	<key>/Users/hoangnd/Documents/code/YoutubeChannel/DockerTutorials2021/0003.trec</key>
	<data>
	Ym9va0ADAAAAAAQQMAAAAMg2uTgCxIDeOI4e4uUzF1MKZalzDmwO72JImm+70C3RPAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAGhvYW5nbmQACQAAAAEB
	AABEb2N1bWVudHMAAAAEAAAAAQEAAGNvZGUOAAAAAQEAAFlvdXR1YmVDaGFubmVsAAAT
	AAAAAQEAAERvY2tlclR1dG9yaWFsczIwMjEACQAAAAEBAAAwMDAzLnRyZWMAAAAcAAAA
	AQYAABAAAAAgAAAAMAAAAEQAAABQAAAAaAAAAIQAAAAIAAAABAMAACVcAAAAAAAACAAA
	AAQDAAB9uQwAAAAAAAgAAAAEAwAArrkMAAAAAAAIAAAABAMAAGpjKwAAAAAACAAAAAQD
	AACu4ysAAAAAAAgAAAAEAwAAuv82AAAAAAAIAAAABAMAALI1NwAAAAAAHAAAAAEGAAC8
	AAAAzAAAANwAAADsAAAA/AAAAAwBAAAcAQAACAAAAAAEAABBw+62JV5UhxgAAAABAgAA
	AQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAFAAAAAAAAAAQAAAADAwAA9QEA
	AAgAAAABCQAAZmlsZTovLy8IAAAAAQEAAE1vbnRlcmV5CAAAAAQDAAAAEB1r7gAAAAgA
	AAAABAAAQcPYOcGAAAAkAAAAAQEAADdCOTYzMDc2LThGOEQtNEFGMy1BMTdBLTQ4ODY3
	Q0RGN0M1RRgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAA
	AAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQAACYAAAAAAAAAAUQAAAsAQAAAAAA
	ABAQAABgAQAAAAAAAEAQAABQAQAAAAAAAAIgAAAoAgAAAAAAAAUgAACcAQAAAAAAABAg
	AACsAQAAAAAAABEgAADcAQAAAAAAABIgAAC8AQAAAAAAABMgAADMAQAAAAAAACAgAAAI
	AgAAAAAAADAgAAA0AgAAAAAAAAHAAACAAQAAAAAAABHAAAAgAAAAAAAAABLAAACQAQAA
	AAAAABDQAAAEAAAAAAAAAA==
	</data>
	<key>/Users/hoangnd/Documents/code/YoutubeChannel/DockerTutorials2021/0004.trec</key>
	<data>
	Ym9va0ADAAAAAAQQMAAAAMvZzLLPog0Ji6HLCDF0rWuJaqJIl6TWrDIjbjoKJvjYPAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAGhvYW5nbmQACQAAAAEB
	AABEb2N1bWVudHMAAAAEAAAAAQEAAGNvZGUOAAAAAQEAAFlvdXR1YmVDaGFubmVsAAAT
	AAAAAQEAAERvY2tlclR1dG9yaWFsczIwMjEACQAAAAEBAAAwMDA0LnRyZWMAAAAcAAAA
	AQYAABAAAAAgAAAAMAAAAEQAAABQAAAAaAAAAIQAAAAIAAAABAMAACVcAAAAAAAACAAA
	AAQDAAB9uQwAAAAAAAgAAAAEAwAArrkMAAAAAAAIAAAABAMAAGpjKwAAAAAACAAAAAQD
	AACu4ysAAAAAAAgAAAAEAwAAuv82AAAAAAAIAAAABAMAACo4NwAAAAAAHAAAAAEGAAC8
	AAAAzAAAANwAAADsAAAA/AAAAAwBAAAcAQAACAAAAAAEAABBw+629sQmVxgAAAABAgAA
	AQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAFAAAAAAAAAAQAAAADAwAA9QEA
	AAgAAAABCQAAZmlsZTovLy8IAAAAAQEAAE1vbnRlcmV5CAAAAAQDAAAAEB1r7gAAAAgA
	AAAABAAAQcPYOcGAAAAkAAAAAQEAADdCOTYzMDc2LThGOEQtNEFGMy1BMTdBLTQ4ODY3
	Q0RGN0M1RRgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAA
	AAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQAACYAAAAAAAAAAUQAAAsAQAAAAAA
	ABAQAABgAQAAAAAAAEAQAABQAQAAAAAAAAIgAAAoAgAAAAAAAAUgAACcAQAAAAAAABAg
	AACsAQAAAAAAABEgAADcAQAAAAAAABIgAAC8AQAAAAAAABMgAADMAQAAAAAAACAgAAAI
	AgAAAAAAADAgAAA0AgAAAAAAAAHAAACAAQAAAAAAABHAAAAgAAAAAAAAABLAAACQAQAA
	AAAAABDQAAAEAAAAAAAAAA==
	</data>
</dict>
</plist>
